#container {
    margin: 50px 30px;
}

table {
    text-align: center;
    background-color: #EEEEEE;
}

td {
    padding: 5px 20px;
    font-size: 1.5em;
    background-color: #DDDDDD;
}

a.material{
    display: inline-block;
    background-color: #26a69b;
    color: #FFF;
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em;
    padding: 0.2em 1em;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;
}
  
a.material:hover{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}